<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="RankingPokemonInCount" value="20" />
      <add key="RankingPokemonDownCount" value="20" />
      <add key="PathToTierListXml" value="tierList.xml" />
      <add key="PathToAvailableTiersXml" value="tiers.xml" />
      <add key="Season" value="117" />
      <add key="PokeApiUrl" value="http://pokeapi.co/" />
      <add key="PokeGLUrl" value="http://3ds.pokemon-gl.com" />
      <add key="PokeShowdownUrl" value="https://play.pokemonshowdown.com/data/" />
      <add key="Tier" value="AG" />
      <add key="BattleType" value="1" />
    </appSettings>
</configuration>